body {
    margin:0 auto;

}

a, body {
    color: #333;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 900px;
    min-height: 400px;
}

.leftbar {
    position: absolute;
    background-image: url("../img/leftbar_bg.jpg");
    background-size: contain;
    width: 300px;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

#profile {
    position: relative;
    top:30%;
    width: 100%;
    height: 260px;
    font-family: "Helvetica Neue";
    color: white;
    font-weight: normal;

}

#avator {
    /*box-shadow: 2px 2px 2px rgba(0,0,0,0.7);*/
    border: 5px solid white;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-image: url('../img/avator.jpg');
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    margin:0 auto
}

#namelabel {
    position: absolute;
    top: 80px;
    width:100%;
    left: 0px;
    font-size: 22px;

}

#desclabel {
    position: absolute;
    top: 120px;
    width:100%;
    left: 0px;
    font-size: 16px;
}

#icons {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 170px;
    float: left;


}

#icons img {
    width: 30px;
    height: auto;
    margin-right: 15px;

}

.content {
    position: relative;
    background-color: white;
    margin-right: 300px;
    margin-left: 300px;
    height: 100%;

}

.main-post-list {
    position: relative;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 30px;


}

.note-list {

    overflow: auto;
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
    text-align: left;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.note-list li {
    list-style: none;
    margin: 10px;
    border-bottom: 1px solid #f0f0f0;
}


.note-list li a {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

.note-list li a:visited {
    color: #969696;
}

.text_content {
    font-size: 13px;
    line-height: 24px;
    color: #333;
}

.pagination {
    position: fixed;
    padding: 0;
    bottom: 20px;
    left: 40%;
}

.pagination li {
    display: inline;

}

.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;

}

.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination li a:hover:not(.active) {
    background-color: #ddd;
}


.right {
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
}




* {
    box-sizing: border-box;
}


.searchbar {
    background: #F9F0DA;
    margin:20px 20px 20px 20px;

}
.searchbar input, button {
    border: none;
    outline: none;
}

.searchbar input {
    border: 2px solid #c5464a;
    border-radius: 5px;
    background: transparent;
    top: 0;
    right: 0;
    width: 100%;
    height: 42px;
    padding-left: 13px;
}

.searchbar button {
    background: #c5464a;
    border-radius: 0 5px 5px 0;
    width: 60px;
    top: 20px;
    right: 20px;
    bottom: 0;
    height: 42px;
    cursor: pointer;
    position: absolute;
}

.searchbar button:before {
    content: "搜索";
    font-size: 13px;
    color: #F9F0DA;
}



.tags ul {
    padding-left: 0;
    margin-top: 0;
    display: block;
}

.tags  li {
    margin-right: 10px;
    display: inline-block;
    line-height: 28px;
}

.tags a {
    padding: 2px 6px;
    font-size: 12px;
    color: #787878;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}