{% extends "base.html" %}
{% load static %}
{% load pull_content %}
{% load custom_markdown %}
{% block content %}
    <ul class="note-list">
        {% for article in articles %}
            <li>
                <a href="{{ article.get_absolute_url }}" >{{ article.title }}</a>
                <p class="text_content">
                    {{ article.content | pull_content | truncatechars:120|pure_text}}
                </p>
            </li>
        {% endfor %}




    </ul>

    <div class="pagination">
        <ul >
            {% for page_item in pagination.page_items %}
                {% if page_item == pagination.cur_page %}
                    <li><a class="active" href="?page={{ page_item }}">{{ page_item }}</a></li>
                {% else %}
                    <li><a href="?page={{ page_item }}">{{ page_item }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock content %}


