{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" >
    <title>Wim's Blog</title>
    
    <script>
        $(document).ready(function () {
            
        });
    </script>
</head>
<body>
<div class='container' >
    <div class='leftbar' >
        <div id="profile">
            <div id="avator" > </div>
            <p id="namelabel">Wim's Blog</p>
            <p id="desclabel">一个正在前行的shef</p>
            <div id="icons">
                <a>
                    <img src="{% static 'img/github.png' %}" alt="github">

                </a>
                <a>
                    <img src="{% static 'img/rss.png' %}" alt="rss">

                </a>
            </div>
        </div>
    </div>


    <div class="content">
       <div class="main-post-list">
            <ol class="post-list">
                {% for article in articles %}
                    <li>{{ article.title }}</li>
                {% endfor %}
            </ol>
           <div class="pagination">
               <ul >
                   {% for page_item in pagination.page_items %}
                       {% if page_item == pagination.cur_page %}
                            <li><a class="active" href="?page={{ page_item }}">{{ page_item }}</a></li>
                       {% else %}
                            <li><a href="?page={{ page_item }}">{{ page_item }}</a></li>
                       {% endif %}

                   {% endfor %}
            </ul>
           </div>
        </div>
    </div>

    <div class="right">
        {% for tag in tags %}
            {{ tag.title }}
        {% endfor %}
    </div>

</div>
</body>
</html>

