[client]
default-character-set=utf8

[mysqld]
character-set-server=utf8
performance_schema = OFF
bind-address    = 0.0.0.0
pid-file                = /var/run/mysqld/mysqld.pid
socket                  = /var/run/mysqld/mysqld.sock
# Where the database files are stored inside the container
datadir                 = /var/lib/mysql

# My application special configuration
max_allowed_packet          = 32M


[mysql]
no-auto-rehash
default-character-set=utf8
